.container {
  display: grid;
  min-height: 100vh;
  color: white;
  background-color: black;
}

.bg-dark {
  background-color: black;
}

.container h1 {
  color: red;
  padding: 0 2rem;
}

.container form {
  margin: 2rem auto;
}

.container form label {
  margin-right: 10px;
  font-weight: bold;
}

.container form input {
  padding: 5px 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.container form button {
  background-color: red;
  border: none;
  border-radius: 10px;
  padding: 5px 15px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.container form button:hover {
  opacity: 0.7;
}

.tvShows {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-top: 3rem;
}

.w-30 {
  width: 200px;
}

.noResult {
  text-align: center;
}

.cardTitle {
  font-weight: bold;
  color: darkgray;
}

@media (max-width: 800px) {
  .tvShows {
    grid-template-columns: 1fr;
  }
}
